@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

body {
    font-family: var(--mainFont);
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-size: 1.25rem;
}