---
import { useStoryblokApi } from '@storyblok/astro'

import Layout from "@components/layout.astro"
import Posts from "@components/posts.astro"

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blog_post',
  per_page:5
})

const posts = data.stories.map(story => {
  return {
    title: story.name,
    tag_list: story.tag_list,
    slug: story.full_slug,
    publishedAt: new Date(story.published_at).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }),
  }
})
---
<Layout>
  <div class="mx-auto container max-w-3xl px-8">
    <Posts posts={posts} title="All Posts" showTags={true} />
  </div>
</Layout>