---
import { ViewTransitions } from 'astro:transitions';

const { seo } = Astro.props;
---
<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://app.storyblok.com" />
		{seo?.title && <title>{seo?.title}</title>}
		{seo?.description && <meta name="description" content={seo?.description} />}
		<ViewTransitions />
	</head>
	<body class="dark:bg-black/90 dark:text-white bg-gray-100 text-black">
    <main>
		  <slot />
    </main>
	</body>
</html>

<style is:global>
/* @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;800&display=swap'); */
a:not(.social) {
	@apply border-b-2 text-green-500 border-green-500;
}
</style>