---
import { ViewTransitions } from 'astro:transitions';
import Header from "@components/header.astro"
const { pathname } = Astro.url;
const { seo } = Astro.props;
---
<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://app.storyblok.com" />
		{seo?.title && <title>{seo?.title}</title>}
		{seo?.description && <meta name="description" content={seo?.description} />}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body class="antialiased dark:bg-stone-900 dark:text-gray-100 bg-gray-100 text-stone-900">
		<Header />
    <main class={`container max-w-4xl min-h-dvh ${pathname === "/" ? "flex md:items-end p-8 md:p-32" : "px-8 mx-auto pt-8 md:pt-24 pb-12"}`}>
		  <slot />
    </main>
	</body>
</html>

<style is:global>
body {
	@apply text-xl;
	font-family: "Bricolage Grotesque", sans-serif;
}
a:not(.social) {
	@apply text-green-500 underline-offset-4;
}
</style>